#thestartofitall {
background: url(../img/red.jpg) 100% 0 repeat fixed; min-height:1000px;
height: 1000px;
margin: 0 auto;
width:100%;
max-width: 1920px;
position: relative;
}

#israthernear {
background: url(../img/red.jpg) 100% 0 repeat fixed; min-height: 1000px;
height: 1000px;
margin: 0 auto;
width: 100%;
max-width: 1920;
position relative;
}

#thestartofitall article {
height: 458px;
margin: 0 auto;
position: absolute;
text-align: center;
top: 150px;
width: 100%;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.9);
box-shadow: 0 0 50px rgba(0,0,0,0.9)
}


#israthernear article {
height: 458px;
position: absolute;
text-align: center;
top: 150px;
width: 100%;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.9);
box-shadow: 0 0 50px rgba(0,0,0,0.9)

}

#thend {
	position: absolute;
}
